<html lang="en">
  <head>
    <title>Verifikasi Email</title>
  </head>
  <body style="text-align: center;">
    <h1>Halo {{name}}</h1>
    <h2>Selamat datang di Acara.com</h2>
    <p>Klik tombol di bawah untuk verifikasi akun promotor anda.</p>
    <a href={{link}}>
      <button>Verifikasi</button>
    </a>
  </body>
</html>